<section>
  <form action="/gadgets/search" method="GET">
    <label for="term">Search Gadget</label>
    <input type="search" name="term" id="term" placeholder="Macbook">
    <input type="submit" value="Search">
  </form>
</section>